<div class="w-full flex justify-center py-5 bg-rojos">
    <img src="assets/images/icons/c_proteccion.svg" alt="">
    <div class="text-center">
        <p class="text-xl font-bold font-amx text-white">Verifiquemos tu identidad</p>
    </div>
</div>
<div class="w-full flex justify-center py-8">
    <div class="mb-7 text-center">
        <p class="text-xl font-bold font-amx text-grises-g550">No actualices ni cierres <br> esta página, mientras carga.</p>
    </div>
    <div class="flex justify-center">
        <app-loader></app-loader>
    </div>
</div>
